

body {
  background-color: #edeff2;
  font-family: 'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #676770;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #69b9ff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #92a0ad;
}

.button.tab:hover {
  background-color: #2e80b6;
}

.button.tab.w--current {
  background-color: #2e80b6;
}

.navigation-link {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #676770;
}

.navigation-link:hover {
  color: #2e9dff;
}

.navigation-bar {
  background-color: #fff;
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #69b9ff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section {
  position: relative;
  padding: 80px 10px 80px 0px;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.section.accent {
  background-color: #192024;
}

.white-box {
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.white-box.transparent {
  border-style: none;
  background-color: transparent;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  padding-top: 195px;
  padding-bottom: 195px;
  border-bottom: 4px solid #69b9ff;
  background-color: #0f2862;
  color: #00a0a0;
  text-align: center;
}

.hero-heading {
  margin-bottom: 30px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.hero-subheading {
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  color: #face6a;
  font-size: 25px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fff;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.hollow-button:hover {
  border-color: #2e9dff;
  color: #2e9dff;
}

.hollow-button.all-caps {
  position: relative;
  top: 1px;
  padding-top: 12px;
  text-transform: uppercase;
}

.hollow-button.all-caps.learn-more-2 {
  top: 47px;
  padding-bottom: 9px;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  color: #676770;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-heading.centered.white {
  color: #fff;
}

.section-subheading.center {
  color: #0f2862;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section-subheading.center.off-white {
  padding-bottom: 0px;
  color: #e8e8e8;
}

.section-title-group {
  margin-bottom: 60px;
}

.form-field {
  height: 45px;
  margin-bottom: 17px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, 0.3);
}

.form-field.text-area {
  height: 110px;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: Montserrat, sans-serif;
}

.footer.center {
  position: relative;
  left: auto;
  border-top: 1px solid #dbdbdb;
  background-color: #383838;
  text-align: center;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9e9e9e;
  font-size: 16px;
}

.grid-image {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid #fff;
  border-radius: 50%;
  background-color: #69b9ff;
  box-shadow: 0 0 0 1px #2e9dff;
}

.info-icon {
  float: left;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 140, 255, 0.84);
}

.footer-link.with-icon {
  margin-left: 30px;
}

.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}

.tabs-wrapper {
  text-align: center;
}

.fullwidth-image {
  width: 100%;
  margin-bottom: 20px;
}

.white-text {
  position: relative;
  top: -5px;
  margin-top: 16px;
  margin-bottom: 20px;
  color: #fff;
}

.white-text.t2 {
  top: 18px;
}

.form {
  margin-top: 40px;
}

.spc {
  left: -56px;
}

.heading {
  position: relative;
  top: 31px;
  font-family: Merriweather, serif;
  color: #11304e;
  font-weight: 700;
}

.form-2 {
  position: relative;
  left: 102px;
  max-width: 50%;
  margin-right: 42px;
  margin-bottom: 23px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: -50px;
  
}
.get-in-touch {
  margin-right: 240px;
}
.form-block {
 
  left: 120px;
  margin-left: 58px;
  padding-top: 27px;
  padding-left: 186px;
}
.homepage-form {
  margin-right:300px;
}
.submit {
  color:#2e9dff;
  background-color: #383838;
  box-sizing: border-box;
  padding:5px 5px;
  border-radius:none;
  margin-top: 5px;
  width:21%;
}

.heading-2 {
  font-family: Montserrat, sans-serif;
}

.image {
  padding-left: 0px;
}

.image.logo {
  position: relative;
}

.image-2 {
  position: relative;
  left: -207px;
}

.image-3 {
  left: -21px;
}

.home.w--current {
  position: relative;
  left: 369px;
  top: -173px;
  color: #676770;
  font-size: 14px;
}

.heading-3 {
  position: relative;
  left: 46px;
}

.contact {
  position: relative;
  left: 312px;
  top: -152px;
  color: #676770;
  font-size: 14px;
}

.textarea {
  max-height: 80%;
  font-size: 20px;
}
.Y-video {
  height:30%;
  width:80%;
  margin-top:7%;
  margin-bottom:5%;

}
.submit-2  {
border-radius: 40px;
}
.message-box {
  height:200px;
}
@media screen and (max-width: 991px) {
  .Y-video{
    margin-left: 11.5%;
    margin-top:7%;
  }

  .navigation-link {
    color: hsla(0, 0%, 100%, 0.52);
  }

  .navigation-link.w--current {
    color: #fff;
  }

  .hamburger-button.w--open {
    background-color: #3b99d9;
  }

  .navigation-menu {
    background-color: #3b99d9;
  }

  .white-box {
    margin-bottom: 98px;
  }

  .hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
  }

  .hollow-button.all-caps {
    position: relative;
    top: 109px;
    padding-top: 6px;
    padding-bottom: 10px;
    padding-left: 40px;
  }

  .hollow-button.all-caps.hire-me {
    top: 2px;
    padding-top: 10px;
  }

  .hollow-button.all-caps.learn-more-2 {
    left: -6px;
    top: 54px;
    bottom: -122px;
  }

  .footer {
    position: relative;
    left: 38px;
  }

  .footer.center {
    left: 0px;
  }

  .grid-image {
    width: 50%;
    padding: 15px;
  }

  .footer-link {
    position: relative;
    left: 46px;
  }

  .footer-link.with-icon {
    left: 10px;
  }

  .white-text.t2 {
    top: 30px;
  }

  .spc {
    left: -36px;
  }

  .form-2 {
    left: 194px;
    padding-left: 9px;
  }

  .form-block {
    position: relative;
    left: -52px;
    padding-left: 0px;
  }

  .p2 {
    margin-top: 40px;
  }

  .p3 {
    margin-top: 37px;
    padding-top: 0px;
  }

  .image-2 {
    left: -5px;
  }

  .container {
    font-size: 24px;
  }

  .image-3 {
    position: relative;
    left: 271px;
  }

  .home.w--current {
    left: 349px;
    top: -236px;
    font-size: 14px;
  }

  .contact {
    top: -209px;
    font-size: 14px;
  }

  .paragraph.about-us {
    font-size: 14px;
  }

  .heading-4 {
    position: relative;
    left: -16px;
    padding-left: 66px;
  }

  .container-2 {
    max-width: 80%;
  }

  .about-us {
    position: relative;
    left: 49px;
    font-size: 10px;
  }

  .heading-5 {
    position: relative;
    left: 49px;
  }

  .heading-6 {
    position: relative;
    left: 49px;
  }

  .columns {
    max-width: 80%;
    padding-left: 29px;
  }
  .get-in-touch {
    margin-left: 90px;
    width:70%;
  }
  
  .homepage-form {
    margin-left: 195px;
    width:50%;
  }
}

@media screen and (max-width: 767px) {
  .submit {
    margin-top: 10px;
    width:60%;
  }
  .get-in-touch {
    margin-left: 155px;
    width:80%;
  }
  .Y-video {
    margin-left:20%;
    position: static;
  }
  .iframe {
    width:75%;
  }
  .homepage-form {
    margin-left: 250px;
    width:50%;
  }
  .about-us {
    padding-right: 5%;
  }

  .button.full-width {
    position: relative;
    left: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 34px;
  }

  .button.tab {
    font-size: 12px;
  }

  .button.tab.w--current {
    top: 6px;
  }

  .section {
    left: 3px;
  }

  .white-box {
    margin-bottom: 30px;
  }

  .hero-section.centered {
    padding-top: 119px;
    padding-bottom: 119px;
  }

  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .hero-subheading {
    font-size: 18px;
  }

  .hollow-button.all-caps.learn-more-2 {
    top: 71px;
  }

  .form-field.text-area {
    display: block;
  }

  .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .footer.center {
    left: 0px;
  }

  .grid-image {
    width: 20%;
    padding: 20px;
  }

  .info-icon {
    position: relative;
    left: 24px;
  }

  .footer-link {
    left: 59px;
  }

  .footer-link.with-icon {
    left: 28px;
  }

  .tab-menu {
    position: static;
  }

  .spc {
    left: -39px;
    margin-bottom: 30px;
  }

  .form-block {
    left: -129px;
    font-size: 18px;
  }

  .heading-2 {
    position: relative;
    left: 23px;
  }

  .image-3 {
    left: 185px;
  }

  .home.w--current {
    left: 66px;
    top: 70px;
  }

  .heading-3 {
    left: 61px;
    top: -28px;
  }

  .contact {
    top: -240px;
  }

  .paragraph.about-us {
    font-size: 14px;
  }

  .heading-4 {
    position: relative;
    left: 66px;
  }

  .container-2 {
    max-width: 80%;
    font-size: 14px;
    line-height: 15px;
  }

  .about-us {
    left: 66px;
    margin-right: 40px;
  }

  .heading-5 {
    left: 65px;
  }

  .heading-6 {
    left: 62px;
  }

  .column {
    left: 17px;
  }

  .text-block {
    margin-top: 0px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  
  .Y-video {
   margin-left:58%;
  }
  .get-in-touch {
    margin-left:56.5%;
   }
   .homepage-form {
    margin-left:62%;
    margin-right: 15%;
   }
   .submit {
     margin-top: 25%;
     border-radius:5px;
     box-sizing: border-box;
     margin-left:25px;
    

   }
  .button {
    margin-bottom: 25px;
  }

  .hero-section.centered {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .hero-heading {
    position: relative;
    left: 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #0f2862), to(#fff));
    background-image: linear-gradient(180deg, #0f2862 100%, #fff);
    font-size: 35px;
  }

  .hollow-button.all-caps {
    left: 3px;
    right: -9px;
    padding-right: 20px;
    padding-left: 11px;
  }

  .hollow-button.all-caps.learn-more-2 {
    left: -8px;
    padding-left: 30px;
  }

  .section-subheading.center {
    line-height: 30px;
    font-weight: 800;
  }

  .footer {
    position: relative;
    left: 9px;
  }

  .footer.center {
    left: 0px;
    right: -10px;
  }

  .grid-image {
    width: 35%;
  }

  .info-icon {
    left: 24px;
  }

  .footer-link.with-icon {
    left: 23px;
  }

  .form-2 {
    left: 100px;
    max-width: 50%;
  
    
  }

  .form-block {
    left: -200px;
    margin-left: 0px;
    padding-left: -30px;
    font-size: 20px;
  }

  .heading-2 {
    position: relative;
    left: 6px;
    top: 8px;
  }

  .image-3 {
    position: relative;
    left: 68px;
    max-width: 150%;
    padding-left: 0px;
    line-height: 24px;
  }

  .home.w--current {
    left: 64px;
    top: 89px;
  }

  .heading-3 {
    left: 46px;
  }

  .contact {
    left: 37px;
    top: -258px;
  }

  .paragraph {
    position: relative;
    left: 57px;
  }

  .paragraph.about-us {
    font-size: 14px;
  }

  .heading-4 {
    position: relative;
    left: 49px;
    padding-left: 0px;
  }

  .container-2 {
    position: relative;
    left: 4px;
    max-width: 85%;
  }

  .div-block {
    padding-left: 0px;
  }
  .logo{
    margin-left:11.8%;
  }
}

@media screen and (max-width: 2000px) {
.submit{
  width:200px;
  border-radius: 5px;
}

